<h1>Expense Stats Per Month</h1>

<% if @monthly_stats.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Month</th>
        <th>Total Expense Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @monthly_stats.each do |stat| %>
        <tr>
          <td><%= stat['month'] %></td>
          <td><%= number_to_currency(stat['total_amount']) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No expenses have been submitted yet.</p>
<% end %>

<%= link_to 'Back to Expenses', expenses_path, class: 'btn btn-primary' %>
